@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{  
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --blue: #01b9bb;
    --yellow: #ffd801;
    --yellowDark: #ffe867;
    font-family: 'Kanit', sans-serif;
}

strong {
    font-weight: bolder;
    cursor: pointer;
}

strong:hover{
    border-bottom: 1px solid var(--yellow);
}

.padding {
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
}    

.separador {
    width: 50%;
    height: 1px;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    background-color: rgb(216, 216, 216);
}

@media screen and (max-width: 1500px){
    .padding {
        padding-left: 15%;
        padding-right: 15%;
    }

}

@media screen and (max-width: 850px){
    .padding {
        padding-left: 10%;
        padding-right: 10%;
    }
}